<app-page-section-wrapper [title]="title" [images]="images">
  Your dollars will go a <b>VERY</b> long ways towards the cause. They will be
  used for the following:
  <ul>
    <h4><u>Equipment</u></h4>
    <li>cold patch</li>
    <li>limestone</li>
    <li>basic equipment (e.g. tampers)</li>
    <li>PPE (e.g. gloves and hi-vis vests)</li>
    <li>powered equipment (e.g. concrete saws)</li>
    <h4><u>Software</u></h4>
    <li>website maintenance</li>
  </ul>

  <p>Please donate <b>TODAY</b>!!</p>
  <app-donor-box-donation></app-donor-box-donation>
</app-page-section-wrapper>
