<app-page-section-wrapper [title]="title" [images]="images">
  <p>
    We do work in underserved neighborhoods of Indianapolis, since our inception
    in April 2017. We have been featured in
    <a
      href="https://fox59.com/news/indianapolis-man-goes-around-town-on-bike-fixing-east-side-potholes/"
      >many</a
    >
    <a
      href="https://www.indystar.com/story/news/local/2018/04/07/two-guys-tired-waiting-city-fill-potholes-so-theyre-doing-themselves/494123002/"
    >
      news</a
    >
    <a
      href="http://www.indianapolisrecorder.com/news/article_19d6d082-4659-11e9-bfe1-a3dcebb08259.html"
    >
      outlets</a
    >
    for our work.
  </p>
  <p>
    As of right now, we are on a brief hiatus from pothole repair, due to the
    COVID-19 pandemic. Once it clears up, though, we will be back into action!
  </p>
  <p>
    To learn more about what we’ve done, please visit our
    <a routerLink="/about">About page</a>!
  </p>

  <div class="row w-100">
    <get-involved-button></get-involved-button>
  </div>
  <div class="mt-4">
    <h4>Social media</h4>
    <div>
      <app-facebook-button></app-facebook-button>
    </div>
  </div>
</app-page-section-wrapper>
