<app-loader-wrapper>
  <div>
    <h2 class="h2">{{ title | uppercase }}</h2>

    <div>
      <app-who-we-are></app-who-we-are>

      <app-how-we-got-started></app-how-we-got-started>

      <app-what-we-done></app-what-we-done>

      <h3>WE NEED YOU!!</h3>
      <p>
        We have come a long ways, but as mentioned, right now,
        <b>we are just two person operation</b>. There are many ways one can get
        involved in helping us out, from volunteer work, to donations. In the
        future, we might even offer job positions!
      </p>
      <p>
        Click the button below to find out more!
      </p>
      <div class="row w-100">
        <!-- TODO: This is going to route to another page called "Get Involved" -->
        <a id="contact-btn" class="btn btn-primary center" routerLink="/contact"
          >Contact us!</a
        >
      </div>
    </div>
  </div>
</app-loader-wrapper>
