<h3>HOW WE GOT STARTED</h3>
<app-image-carousel [images]="images"></app-image-carousel>

<p class="mt-3">
  We came quite a ways since our humble beginnings in 2017.
</p>
<p class="mt-3">
  Chris and Mike have, since before then, saw, over and over again, the
  ineptitude of local government to address an ongoing pothole crisis, here in
  Indianapolis. So much so, that our project Open Source Roads was borne of a
  simple idea: if the government won't fix the potholes,
  <b>why don't we do it ourselves</b>?
</p>
<p class="mt-3">
  So, we went to our local Menards, and bought some cold patch, a tamper, some
  cones, and some shovels, brooms, and bucket with the money we raised from
  crowdfunding: about $100. Then, on April 4, we finally went to some potholes
  in my neighborhood and got to work. It was now or never.
</p>
<p class="mt-3">
  We were, contrary to popular belief, poor college students then. We were, and
  still are, largely dependent on fundraising to fund our repairs. Hence, we
  strive to operate frugally, but quickly.
</p>
<p class="mt-3">
  Chris and Mike have both, since then, found day careers. Our source of funding
  still remains self-funding and fundraisers.
</p>
<p class="mt-3">
  While we are not professionals, we strive to learn more and more about pothole
  repair every day.
</p>
