

.content {
  background-color: #222;
  margin: 0 20px;
  padding: 15px;
  border-radius: 3px;

}
.content > div {
  margin: 0 7px;
}

.contact-field-heading {
  font-style: oblique;
}
.contact {
  margin-top : 25px;
  margin-bottom : 25px;
}
.contact > span > *, .contact > span {
  white-space: pre-line;
}
.material-icons {
  cursor: pointer;
}
a.material-icons:hover {
  color: black;
}
a.material-icons:active {
  color: #888890;
}
.content, .column {
  overflow: hidden;
}
.column {
  float : left;
}
.first, .second {
  width : 50%;

}

.row {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
  margin-left:0;
}
#message {
  height: 200px;
}
.form-button {
  height: 25px;
  border-radius: 3px;
}
.form-button:hover {
  background-color: whitesmoke;
}
.form-button:active {
  background-color: #474747;
  color: white;
}
