<nav class="w-100" *ngIf="isVisible">
  <div>
    <ul class="menu" class="nav navbar-nav">
      <li
        *ngFor="let menuOption of menuOptions"
        [class.selected]="
          selectedMenuOption.routerLink === menuOption.routerLink
        "
        class="nav-item p-3"
      >
        <a
          class="menu-option nav-link w-100"
          [routerLink]="menuOption.routerLink"
          (click)="markSelected(menuOption)"
          >{{ menuOption.text }}</a
        >
      </li>
    </ul>
  </div>
</nav>
