ul {
    list-style: none;
    width: 100%;
    padding-left: 0;
}

li {
    padding: 20px 10px;
    height: 1.5em;
}

.menu-option {
    float: left;
    width: 110px;
    color: white;
    text-decoration: none;
    font-family: monospace;
    font-size: 1.5em;
}

.menu-option:hover {
    color: yellow;
    text-decoration: underline;
}

.selected {
    background-color: grey;
}
