* {
  font-family: monospace;
}

p,
span,
div,
a {
  color: #ffffae;
}

.container-fluid .row:first-child {
  padding-top: 58px; /* TODO: we need to find a different way than just hardcoding it */
}

side-menu {
  height: 100%;
  padding: 0;
  text-align: left;
  background-color: rgb(0, 0, 0);
  position: fixed;
  z-index: 16;
}
