<app-page-section-wrapper [title]="title" [images]="images">
  <p>
    We have come a long ways, but as mentioned, right now,
    <b>we are just two person operation</b>. There are many ways one can get
    involved in helping us out, from volunteer work, to donations. In the
    future, we might even offer job positions!
  </p>
  <p>
    Click the button below to find out more!
  </p>
  <div class="row w-100">
    <!-- TODO: use the Component instead of hardcoding its HTML in here -->
    <a class="btn btn-primary center" routerLink="/contact">Get Involved!</a>
  </div>
</app-page-section-wrapper>
