<app-page-section-wrapper [title]="title" [images]="images">
  <p class="mt-3">
    We have filled hundreds of potholes since we got started. Some of our
    patchwork is still there to this day.
  </p>
  <p class="mt-3">
    We have been focused primarily in our neighborhoods, as the roads of
    Indianapolis are so riddled with potholes. But we have done work outside
    them. We’ve done hundreds of pothole repairs, including some high profile
    ones that gave us media attention. In late August 2017, we filled a pothole
    over near Chester and Walnut,
    <a
      href="https://fox59.com/news/indianapolis-man-goes-around-town-on-bike-fixing-east-side-potholes/"
      >sparking our first media coverage</a
    >. That repair still stands to this day.
  </p>
  <p class="mt-3">
    Most notably was
    <a
      href="https://www.indystar.com/story/news/local/2018/04/07/two-guys-tired-waiting-city-fill-potholes-so-theyre-doing-themselves/494123002/"
      >our coverage in April 2018</a
    >. On that day, we ventured to 52nd Street, in the Southern Broad Ripple
    area, which was at the time a poster child for road complaints. We found a
    pothole in a bike lane near the Broad Ripple Trails apartment complex, and
    filled it, in front of Indy Star news cameras.
  </p>
  <p class="mt-3">
    That story somehow got picked up by media outlets all over the country,
    essentially putting Indy DPW on nationwide blast. That and Chris’s plans to
    organize a big neighborhood-wide event to come out and fill the potholes
    arguably caused Indy DPW to come out and repave the whole street. There
    hasn’t been a pothole on it since then.
  </p>
</app-page-section-wrapper>
