/* Add application styles & imports to this file! */

body {
  margin: 0;
}

#page-content {
  min-height: 100vh;
}

.left {
  float: left;
}
.right {
  float: right;
}

.ng-invalid.ng-dirty {
  background-color: #ff5555;
  border-color: red;
}
.error {
  color: red;
}
